<md-card class="filter">
  <md-card-title [ngPlural]="count">
    <ng-template ngPluralCase="=0">No hero found</ng-template>
    <ng-template ngPluralCase="=1">One hero found</ng-template>
    <ng-template ngPluralCase="other">{{count}} heroes found</ng-template>
  </md-card-title>

  <md-card-content>
    <md-select placeholder="Role" [(ngModel)]="filter.role" (change)="notifyChange()">
      <md-option>All</md-option>
      <md-option *ngFor="let role of roles" [value]="role">
        {{role | heroRole}}
      </md-option>
    </md-select>

    <md-select placeholder="Universe" [(ngModel)]="filter.universe" (change)="notifyChange()">
      <md-option>All</md-option>
      <md-option *ngFor="let universe of universes" [value]="universe">
        {{universe | heroUniverse}}
      </md-option>
    </md-select>

    <md-input-container>
      <input mdInput type="text" placeholder="Search heroes..." [(ngModel)]="filter.terms" (input)="notifyChange()">
    </md-input-container>
  </md-card-content>
</md-card>
