<h2>About</h2>

<p>
  <strong>The Nexus</strong> is a sample application built with <a href="https://angular.io">Angular 2</a>.
  It has been written by <a href="https://www.linkedin.com/in/fvilers">Fabian Vilers</a>.
  The source code is available on <a href="https://github.com/fvilers/angular2-training">GitHub</a> under the <a href="https://github.com/fvilers/angular2-training/blob/master/LICENSE">MIT License</a>.
</p>

<p>
  It also serves as a demo application for Angular 2 trainings.
</p>

<p>
  All information about characters of the game Heroes of the Storm is copyrighted to BLIZZARD ENTERTAINMENT, INC.
</p>
