<h1 class="headline">About</h1>

<p>
  <strong>The Nexus</strong> is a sample application built with <a href="https://www.mongodb.com">MongoDB</a>, <a href="https://expressjs.com">Express</a>, <a href="https://angular.io">Angular 2</a>, and <a href="https://nodejs.org/en">Node.js</a>.
  It has been written by <a href="https://www.linkedin.com/in/fvilers">Fabian Vilers</a>, and contributed by <a href="https://www.linkedin.com/in/sylvainguerin/">Sylvain Guerin</a>.
  The source code is available on <a href="https://github.com/fvilers/angular2-training">GitHub</a> under the <a href="https://github.com/fvilers/angular2-training/blob/master/LICENSE">MIT License</a>.
</p>

<p>
  It also serves as a demo application for MEAN and Angular 2 trainings.
</p>

<p>
  All information about characters of the game <a href="http://us.battle.net/heroes/en">Heroes of the Storm</a> is copyrighted to <a href="http://us.blizzard.com/en-us/">BLIZZARD ENTERTAINMENT, INC</a>.
</p>
