<h1 class="headline" [ngPlural]="count">
  <ng-template ngPluralCase="=0">No heroes</ng-template>
  <ng-template ngPluralCase="=1">One hero</ng-template>
  <ng-template ngPluralCase="other">{{count}} heroes</ng-template>
</h1>

<app-hero-filter (changed)="filterHeroes($event)"></app-hero-filter>

<div class="flex-container flex-row flex-wrap">
  <app-hero-card *ngFor="let hero of heroes | async" [hero]="hero"></app-hero-card>
</div>

<span class="move-up-action" [style.display]="canMoveToTop ? 'inline-block' : 'none'">
  <button class="fab-bottom-right" md-fab mdTooltip="Move to top" mdTooltipPosition="left" (click)="moveToTop()">
    <md-icon>keyboard_arrow_up</md-icon>
  </button>
</span>
