<md-card>
  <md-card-title>Registration</md-card-title>
  <md-card-content>
    <form #registerForm="ngForm" (ngSubmit)="register()">
      <div>
        <md-input-container>
          <input type="email" id="email" name="email" placeholder="Email" required email [(ngModel)]="account.email" #email="ngModel" mdInput>
        </md-input-container>

        <div class="error" *ngIf="email.errors && (email.dirty || email.touched)">
          <div [hidden]="!email.errors.required">
            An email address is required.
          </div>
          <div [hidden]="!email.errors.email">
            This is email address is invalid.
          </div>
        </div>
      </div>

      <div>
        <md-input-container>
          <input type="password" name="password" placeholder="Password" required [(ngModel)]="account.password" #password="ngModel" mdInput>
        </md-input-container>
        
        <div class="error" *ngIf="password.errors && (password.dirty || password.touched)">
          <div [hidden]="!password.errors.required">
            A password is required.
          </div>
        </div>
      </div>

      <div>
        <md-input-container>
          <input type="password" name="passwordConfirmation" placeholder="Password confirmation" required ngModel #passwordConfirmation="ngModel" [ngEqualTo]="account.password" mdInput>
        </md-input-container>
        
        <div class="error" *ngIf="passwordConfirmation.errors && (passwordConfirmation.dirty || passwordConfirmation.touched)">
          <div [hidden]="!passwordConfirmation.errors.ngEqualTo">
            The password and the confirmation do not match.
          </div>
        </div>
      </div>

      <div class="error" *ngIf="errorMessage">
        {{errorMessage}}
      </div>

      <div>
        <button type="submit" md-raised-button color="primary" [disabled]="!registerForm.form.valid">Register</button>
      </div>
    </form>
  </md-card-content>
</md-card>
