<h2>Heroes</h2>

<app-hero-filter (changed)="filterHeroes($event)"></app-hero-filter>

<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap">
  <app-hero-card *ngFor="let hero of heroes | async" [hero]="hero" class="flex-item"></app-hero-card>
</div>

<div>
  {{(heroes | async)?.length}} hero{{(heroes | async)?.length < 2 ? '' : 'es'}} found.
</div>

<span class="move-up-action" [style.display]="canMoveToTop ? 'inline-block' : 'none'">
  <button md-fab mdTooltip="Move to top" mdTooltipPosition="left" (click)="moveToTop()">
    <md-icon>keyboard_arrow_up</md-icon>
  </button>
</span>
